<div class='page-header'>
  <h1>
      Contact Us
      <small> Shoot us all your questions</small>
  </h1>
  <%= simple_form_for @message, url: contact_path do |f| %>
    <div class="form-inputs">
      <%= f.input :email %>
      <%= f.input :name %>
      <%= f.input :subject %>
      <%= f.input :body, as: :text %>
    </div>
    <br />
    <div class='text-center'>
      <%= f.button :submit, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

